@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant
<center>
<h1>Are you sure you want to delete @Html.DisplayFor(model => model.Description)?</h1>
<br>
@using (Html.BeginForm())
{
    <button class="btn btn-success" type="submit">Delete</button>
}
<hr />
@Html.ActionLink("Back to List", "Index")
</center>

