@{
  Layout = "_Layout";
}

<center>
  @model List<BestRestaurants.Models.Restaurant>;

  <h2>Are you sure you want to delete all restaurant list?</h2>
  <br>

  @using (Html.BeginForm())
  {
      <center><button class="btn btn-success" type="submit" value="DeleteAll" />Delete All</center>
  }

  <br>
  <br>
  <p>@Html.ActionLink("Restaurant Overview", "Index")</p>

</center>
