/* body {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
} */

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  text-align: center;
}

  
body {
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 300px;
  
}

h1 {
  font-size: 75px;
}

h4 {
  font-size: 50px;
  font-style: italic;
}

p {
  font-size: 30px;
}

a {
  color:#2dcf79;
}

a:hover {
  color: #52ffa8;
  text-decoration: none;
}

.btn-success { 
  background-color: #2dcf79;
  border: none;
}

.btn-success:hover {
  background-color: #52ffa8;
  border: none;
}
