@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cousine

<h4>Add a new cousine type</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <button class="btn btn-success" type="submit">Add New Cousine Type</button>
}
<hr />
<p>@Html.ActionLink("Show all cousine types", "Index")</p>
