@{
  Layout = "_Layout";
}
<center>
@model BestRestaurants.Models.Cousine

<h1>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h1>
<br>

@using (Html.BeginForm())
{
    <button class="btn btn-success" type="submit">Delete</button>
}
<hr>
<br>
<p>@Html.ActionLink("Back to cousine type list", "Index")</p>
</center>
