@{
  Layout = "_Layout";
}
<center>
  @model List<BestRestaurants.Models.Cousine>;

<h2>Are you sure you want to delete all cousine types?</h2>
<br>

@using (Html.BeginForm())
{
    <center><button class="btn btn-success" type="submit" value="DeleteAll" />Delete All</center>
}

<br>
<br>
<p>@Html.ActionLink("Back to the cousine type list", "Index")</p>

</center>
