<title>Best Restaurants in Seattle</title>

@{
  Layout = "_Layout";
}

<h1>Check out a list of my favorite restaurants in Seattle!</h1>
<hr />
<p>@Html.ActionLink("Search by Restaurant Name", "Index", "RestaurantGroup")</p>
<br>
<p>@Html.ActionLink("Search by Cousine Type", "Index", "CousineGroup")</p>
