@{
  Layout = "_Layout";
}
<center>

<h1>My Favorite Seattle Restaurants</h1>
<br>
<h4>Add cousine type first!</h4>
<br>
<hr />
<br>
<p>@Html.ActionLink("Search by Cousine Type", "Index", "CousineGroup")</p>
<br>
<p>@Html.ActionLink("Search by Restaurant Name", "Index", "RestaurantGroup")</p>
</center>


